---
---

@import 'jekyll-theme-minimal';

body {
  font-family: Roboto, sans-serif;
}

header {
  li:first-child a, ul {
    border-radius: 0;
  }

  ul {
    background: transparent;
    border: 0;

    li + li + li {
      width: auto;
    } 
  }

  li {
    width: auto;
    border-right: 0;
  }

}

ul.share-buttons {
  display: flex;

  li {
    flex: 1;
  }
}

ul.country-list {
  list-style-type: none;
  padding: 0px;

  > li {
    padding: 5px;
    border: #eee 1px solid;
    margin: 5px 0px;
    
    > a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
}

th, td {
  padding: inherit;
}

table.users-list {
  td {
    padding: 2px 0;
    img {
      vertical-align: middle;
    }
  }

  thead th {
    text-align: center;
  }
  tbody td.photo {
    text-align: center;
  }
}

table.organizations-list td {
  padding: 5px 0;
}

ul.mode-selector {
  display: flex;
  padding: 0;
  list-style-type: none;

  li {
    flex: 1;
    text-align: center;
    padding: 1ex;

    &.active {
      font-weight: bold;
      background-color: #eee;
    }
  }
}
